/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Page background */
body {
    font-family: "Segoe UI", Tahoma, sans-serif;
    height: 100vh;
    background: #6605ab;
    background: linear-gradient(90deg, rgba(102, 5, 171, 1) 0%, rgba(49, 0, 92, 1) 35%, rgba(0, 0, 140, 1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Main container */
.container {
    text-align: center;
}

/* Title */
h1 {
    color: white;
    font-size: 42px;
    letter-spacing: 2px;
}

/* Subtitle */
.subtitle {
    color: white;
    margin-bottom: 40px;
    opacity: 0.9;
}

/* Menu layout */
.menu {
    display: flex;
    gap: 25px;
    justify-content: center;
}

/* Cards */
.card {
    background: white;
    padding: 30px;
    width: 220px;
    border-radius: 14px;
    text-decoration: none;
    color: #333;
    box-shadow: 0 8px 18px rgba(0,0,0,0.2);
    transition: 0.3s;
}

/* Card hover */
.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 28px rgba(0,0,0,0.3);
}

/* Card title */
.card h2 {
    margin-bottom: 10px;
    color: #2c3e50;
}

/* Card text */
.card p {
    font-size: 14px;
    color: #777;
}