body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #ffecd2, #fcb69f);
}

.container {
    text-align: center;
    padding: 40px;
}

.title {
    font-size: 40px;
    margin-bottom: 40px;
    color: #333;
}

.menu {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.card {
    background: white;
    width: 220px;
    padding: 25px;
    border-radius: 15px;
    text-decoration: none;
    color: black;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-10px);
    background: #ff9a9e;
    color: white;
}

.card h2 {
    margin: 10px 0;
}

.card p {
    font-size: 14px;
}body {
     margin: 0;
     font-family: Arial, sans-serif;
     background: linear-gradient(to right, #ffecd2, #fcb69f);
 }

.container {
    text-align: center;
    padding: 40px;
}

.title {
    font-size: 40px;
    margin-bottom: 40px;
    color: #333;
}

.menu {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.card {
    background: white;
    width: 220px;
    padding: 25px;
    border-radius: 15px;
    text-decoration: none;
    color: black;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-10px);
    background: #ff9a9e;
    color: white;
}

.card h2 {
    margin: 10px 0;
}

.card p {
    font-size: 14px;
}